{% extends 'page.html' %}

{% block content %}
<section class="login_section py-20 w-full bg-gray-200" style="order:3;">
    <h2 style="font-family: 'Do Hyeon', Sans-serif;" class="text-3xl font-midium text-center py-4">관리자 로그인</h2>
    <div class="w-full flex justify-center">
        <form class="max-w-2xl" method="POST" action="/auth/login">
            <div class="mb-4">
                <label class="block text-md font-light mb-2" for="ID">ID</label>
                <input
                    class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline"
                    type="text" name="userId" id="userId" placeholder="ID" required autofocus>
            </div>
            <div class="mb-4">
                <label class="block text-md font-light mb-2" for="password">Password</label>
                <input
                    class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline"
                    type="password" name="password" id="password" placeholder="Password">
            </div>

            <div class="w-full mb-5">
                <input type="submit" 
                    class="w-full bg-blue-500 hover:bg-blue-700 text-white font-light py-4 px-6 rounded focus:outline-none focus:shadow-outline"
                    id="login" value="LOGIN" name="submit">
                
            </div>
            <div class="hidden w-full mb-5 text-center">
                <a class="w-full text-xs font-light underline py-2 px-3"
                    id="join" href="/admin/join">회원가입</a>
                </div>

        </form>
    </div>
</section>
{% endblock %}