{% extends 'page.html' %}

{% block content %}
<section class="slider_section">
    <ul class="slider_img">
        <li>
            <div class="slider_contents">
                <div class="slider_txt_lg">베란다에서</div>
                <div class="slider_txt_lg">물이 떨어져요..</div>
                <div class="slider_txt">전문업체와 상담하세요.</div>
                <div><button id="reqEstimateBtn"
                        class="slider_txt bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-4 rounded"
                        onclick="location.href='reqQuote'">견적문의하기</button></div>
            </div><img src="images/p_images/slide_04.jpg" alt="">
        </li>
        <li>
            <div class="slider_contents">
                <div class="slider_txt_lg">천장에서</div>
                <div class="slider_txt_lg">물이새요...</div>
                <div class="slider_txt">전문업체와 상담하세요.</div>
                <div><button id="reqEstimateBtn"
                        class="slider_txt bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-4 rounded"
                        onclick="location.href='reqQuote'">견적문의하기</button></div>
            </div><img src="images/p_images/slide_01.jpg" alt="">
        </li>
        <li>
            <div class="slider_contents">
                <div class="slider_txt_lg">변기가</div>
                <div class="slider_txt_lg">막혔어요...</div>
                <div class="slider_txt">전문업체와 상담하세요.</div>
                <div><button id="reqEstimateBtn"
                        class="slider_txt bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-4 rounded"
                        onclick="location.href='reqQuote'">견적문의하기</button></div>
            </div><img src="images/p_images/slide_02.jpg" alt="">
        </li>
        <li>
            <div class="slider_contents">
                <div class="slider_txt_lg">욕조호스가</div>
                <div class="slider_txt_lg">빠졌어요...</div>
                <div class="slider_txt">전문업체와 상담하세요.</div>
                <div><button id="reqEstimateBtn"
                        class="slider_txt bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-4 rounded"
                        onclick="location.href='reqQuote'">견적문의하기</button></div>
            </div><img src="images/p_images/slide_03.jpg" alt="">
        </li>
    </ul>

    <div class="slider_btn">
        <span id="prev_btn" style="display:none;">◀</span>
        <span id="next_btn" style="display:none;">▶</span>
    </div>


    <div class="slider_dots">
        <span class="dot" onclick=""></span>
        <span class="dot" onclick=""></span>
        <span class="dot" onclick=""></span>
        <span class="dot" onclick=""></span>
    </div>
</section>
<section class="category_section">
    <ul class="category_list">
        <li>
            <figure>
                <div><img src="images/s_images/category_01.png" alt=""></div>
                <figcaption>누수탐지</figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <div><img src="images/s_images/category_02.png" alt=""></div>
                <figcaption>수도배관</figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <div><img src="images/s_images/category_03.png" alt=""></div>
                <figcaption>보일러교체</figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <div><img src="images/s_images/category_04.png" alt=""></div>
                <figcaption>욕실누수</figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <div><img src="images/s_images/category_05.png" alt=""></div>
                <figcaption>변기막힘</figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <div><img src="images/s_images/category_06.png" alt=""></div>
                <figcaption>언수도녹임</figcaption>
            </figure>
        </li>
    </ul>
</section>
<section class="company_section py-5 bg-gray-200 ">
    <span style="font-family: 'Do Hyeon', Sans-serif;" class="text-center py-12  text-3xl"><span
            class="text-blue-600">한국건축설비누수</span>를 선택해야하는 이유!</span>
    <div class="relative">
        <div class="company_page swiper-container static">
            <div class="swiper-wrapper">
                <div class="companyBox swiper-slide ">
                    <img src="images/p_images/company_01.jpg" alt="">
                    <div class="company_contents">
                        <ul>
                            <li>#누수탐지전문공사업체</li>
                            <li>#전문건설업 등록업체</li>
                            <li>#전문장비보유</li>
                        </ul>
                        <div>한국건축설비누수는 가스2종 난방2종 전문건설업 등록업체이며 가스탐지기, 관로탐지기, 열화상카메라 등의 전문장비를 보유하고있는 누수탐지전문공사업체 입니다.</div>
                    </div>
                </div>
                <div class="companyBox swiper-slide ">
                    <img src="images/p_images/company_02.jpg" alt="">
                    <div class="company_contents">
                        <ul>
                            <li>#20년경력 전문가</li>
                            <li>#꼼꼼한 사장님</li>
                            <li>#직접시공</li>
                        </ul>
                        <div>20여년 경력을 가지신 사장님이 상담 부터 시공 및 하자보수까지 모두 직접 해드립니다. 모든일에 책임감도 강하신 분이라 남들보다 꼼꼼히 처리합니다</div>
                    </div>
                </div>
                <div class="companyBox swiper-slide ">
                    <img src="images/p_images/company_03.jpg" alt="">
                    <div class="company_contents">
                        <ul>
                            <li>#부부출장</li>
                            <li>#블로그운영</li>
                        </ul>
                        <div>부부가 함께 출장나갑니다.<br>
                            사장님이 시공하시고 사모님이 옆에서 친절히 설명드립니다. 사모님이 직접 운영하시는 블로그에서는 다양한 시공사례도 확인 하실수 있습니다. <br>
                            <a href="http://blog.naver.com/h0661h" target="_blank"
                                class="text-blue-500 underline font-semibold pt-2">한국건축설비누수 블로그 보러가기</a></div>
                    </div>
                </div>
                <div class="companyBox swiper-slide ">
                    <img src="images/p_images/company_04.jpg" alt="">
                    <div class="company_contents">
                        <ul>
                            <li>#하자보수</li>
                            <li>#최대 2년간 보증</li>
                            <li>#무료 A/S</li>
                        </ul>
                        <div>저희가 시공한 부분에서 하자가 발생한 경우 최대 2년까지 무료로 보수해드립니다. (방수 1년 / 배관 2년 ) <br>20년 동안 같은위치에서 일해오신 사장님은
                            어디 도망안갑니다</div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Add Pagination -->
        <!--<div class="companyPagin swiper-pagination"></div>-->

        <!-- Add Arrows -->
        <span class="companyPrevBtn swiper-button-prev"></span>
        <span class="companyNextBtn swiper-button-next"></span>

    </div>

    <div class="w-full text-center"><button id="reqEstimateBtn"
            class="slider_txt bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-10 rounded "
            style="margin:20px auto; " onclick="location.href='reqQuote'">견적문의하기</button></div>
</section>
<section class="icon_section">
    <div class="icon_img">
        <img src="images/s_images/icon_01.png" alt="">
        <span>정확한 문제진단</span>
    </div><img class="icon_arrow" src="images/s_images/icon_arrow.png" alt="">
    <div class="icon_img">
        <img src="images/s_images/icon_02.png" alt="">
        <span>꼼꼼한 시공</span>
    </div><img class="icon_arrow" src="images/s_images/icon_arrow.png" alt="">
    <div class="icon_img">
        <img src="images/s_images/icon_03.png" alt="">
        <span>책임있는 A/S</span>
    </div><img class="icon_arrow" src="images/s_images/icon_arrow.png" alt="">
    <div class="icon_img">
        <img src="images/s_images/icon_04.png" alt="">
        <span>고객만족</span>
    </div>
</section>
<section class="blog_section">
    <h2 class="text-center px-4 py-10 font-bold text-2xl">시공사례</h2>
    <button id="blog_more_btn"
        class="absolute right-0 mr-4 text-grey-dark font-semibold my-10 py-2 px-4 border border-grey hover:border-transparent rounded mr-2 float-right text-xs "
        onclick="window.open('http://blog.naver.com/h0661h') ">더보기..</button>
    </h2>
    <div class="py-4 px-4">
        <div class="blog_contain swiper-container block md:flex justify-between md:-mx-2">
            <div class="swiper-wrapper">
                <div class="blog-slide swiper-slide w-full lg:w-1/3 md:mx-2 mb-4 md:mb-0">
                    <div class="bg-white rounded-lg overflow-hidden shadow relative"
                        onclick="window.open('https://m.blog.naver.com/h0661h/221756313902')">
                        <img class="h-56 w-full object-cover object-center" src="images/p_images/blog_01.jpg" alt="">
                        <div class="p-4 h-auto md:h-40 lg:h-48">
                            <div
                                class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-base leading-tight">
                                난방 방 하나가 안 따듯해요? 부평동 누수탐지 순환 안되는 방 해결~
                            </div>
                            <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-xs">
                                지금 살고 있는 집에서 8년을 살았다는데
                                처음부터 이곳 방만 차가웠던것 같아요 원인을 알고 싶다고
                                저희 누수탐지 전문 업체에 전화 주셨네요
                                모든 경험을 통해서 난방 순환이 안되는 곳을 해결해볼게요 ...
                            </div>
                            <!--<div class="relative mt-2 lg:absolute bottom-0 mb-4 md:hidden lg:block">
              <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#something</a>
              <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#sky</a>
            </div>-->
                        </div>
                    </div>
                </div>
                <div class="blog-slide swiper-slide w-full lg:w-1/3 md:mx-2 mb-4 md:mb-0">
                    <div class="bg-white rounded-lg overflow-hidden shadow relative"
                        onclick="window.open('https://m.blog.naver.com/h0661h/221637790128')">
                        <img class="h-56 w-full object-cover object-center" src="images/p_images/blog_02.jpg" alt="">
                        <div class="p-4 h-auto md:h-40 lg:h-48">
                            <div
                                class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-base leading-tight">
                                화장실에서 떨어지는 물 변기 누수 원인 확인했어요
                            </div>
                            <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-xs">
                                아래층 화장실 천장에서 물의 떨어지는데 원인을 알 수 없어서 계량기를 확인해보니
                                배관 쪽에서는 누수될 확률이 없네요
                                누수가 된다면 화장실인데 화장실에서도 제일 의심되는 부분이 변기네요
                                변기를 탈착해보니 ...
                            </div>
                            <!--<div class="relative mt-2 lg:absolute bottom-0 mb-4 md:hidden lg:block">
              <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#something</a>
              <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#sky</a>
            </div>-->
                        </div>
                    </div>
                </div>
                <div class="blog-slide swiper-slide w-full lg:w-1/3 md:mx-2 mb-4 md:mb-0">
                    <div class="bg-white rounded-lg overflow-hidden shadow relative"
                        onclick="window.open('https://m.blog.naver.com/h0661h/221900989320')">
                        <img class="h-56 w-full object-cover object-center" src="images/p_images/blog_03.jpg" alt="">
                        <div class="p-4 h-auto md:h-40 lg:h-48">
                            <div
                                class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-base leading-tight">
                                수도 배관 누수 산곡동 아파트 보일러실에서 물이흘러나와요
                            </div>
                            <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-xs">
                                청천동 아파트 누수 물이 많이 떨어져서 누수탐지 장비를 이용해서 누수탐지를 시작해봅니다
                                어느 위치에서 새는 건지 장비를 이용해야 정확한 지점을 확인할 수 있어요 ...
                            </div>
                            <!--<div class="relative mt-2 lg:absolute bottom-0 mb-4 md:hidden lg:block">
              <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#something</a>
              <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#sky</a>
            </div>-->
                        </div>
                    </div>
                </div>
                <div class="blog-slide swiper-slide w-full lg:w-1/3 md:mx-2 mb-4 md:mb-0">
                    <div class="bg-white rounded-lg overflow-hidden shadow relative"
                        onclick="window.open('https://m.blog.naver.com/h0661h/221600408843')">
                        <img class="h-56 w-full object-cover object-center" src="images/p_images/blog_04.jpg" alt="">
                        <div class="p-4 h-auto md:h-40 lg:h-48">
                            <div
                                class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-base leading-tight">
                                화장실누수 화장실 부분 방수 바닥유가 방수로 아래층누수 잡히길~
                            </div>
                            <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-xs">
                                화장실 아래층천장 부분에서 누수가 되는데 ÁÁ
                                어디서 누수가 되는지 도무지 알 수 없네요
                                화장실 전체 공사를 해야하지만 부분적으로 방수를해보고 차도가 없을시 최후방법을 선택하고자 저희 업체에 의뢰를 하였다네요 ..
                            </div>
                            <!--<div class="relative mt-2 lg:absolute bottom-0 mb-4 md:hidden lg:block">
              <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#something</a>
              <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#sky</a>
            </div>-->
                        </div>
                    </div>
                </div>
                <div class="blog-slide swiper-slide w-full lg:w-1/3 md:mx-2 mb-4 md:mb-0">
                    <div class="bg-white rounded-lg overflow-hidden shadow relative"
                        onclick="window.open('https://m.blog.naver.com/h0661h/221886456419')">
                        <img class="h-56 w-full object-cover object-center" src="images/p_images/blog_05.jpg" alt="">
                        <div class="p-4 h-auto md:h-40 lg:h-48">
                            <div
                                class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-base leading-tight">
                                수도배관 누수 외벽으로 흐르는 물 열화상으로 체크했어요 인천누수
                            </div>
                            <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-xs">
                                빌라 외벽으로 누수가 되는데 수도계량기가 돌아가지않아서 내 집에서 누수가 아닌거같아 일주일 정도 방치했다네요
                                이곳은 바로 누수탐지장비를 이용해서 누수 검사 시작해보렵니다 ...
                            </div>
                            <!--<div class="relative mt-2 lg:absolute bottom-0 mb-4 md:hidden lg:block">
              <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#something</a>
              <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#sky</a>
            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="social_section">
    <div class="social_list w-1/2 my-auto">
        <a href="http://blog.naver.com/h0661h" target="_blank">
            <div class="flex flex-row pr-6 pb-4"><img src="images/s_images/icon_blog.png"
                    style="width:40px; height:40px"><span class="my-auto ml-2 text-white">네이버블로그</span></div>
        </a>
        <a href="https://www.youtube.com/channel/UC5aWLxVXVuPyJZCHWrO4Gow" target="_blank">
            <div class="flex flex-row"><img src="images/s_images/icon_youtube.png" style="width:40px; height:40px"><span
                    class="my-auto ml-2  text-white">유튜브</span></div>
        </a>
    </div>
    <div class="w-1/2 flex  m-auto justify-center"><a
            class="border py-4 px-4 md:px-10 rounded-full inline-flex my-auto " href="tel:010-7504-1822"><img
                src="images/s_images/icon_call.png" style="width:30px; height:30px"><span
                class="social_call ml-2 pt-1 text-white font-semibold">010-7504-1822</span></a></div>
</section>
{% endblock %}

{% block script %}
<!--Swiper-->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

<script src="/javascripts/index.js"></script>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>

    //블로그 슬라이드
    var blogSwiper = new Swiper('.blog_contain', {
        loop: true,
        slidesPerView: 2,
        spaceBetween: 30,
        centeredSlides: true,
        pagination: {
            el: '.blogPagin',
            clickable: true,
        },

        breakpoints: {
            320: {
                slidesPerView: 2,
                spaceBetween: 20
            },
            // when window width is >= 480px
            768: {
                slidesPerView: 3,
                spaceBetween: 30
            },
            // when window width is >= 640px
            960: {
                slidesPerView: 4,
                spaceBetween: 40
            }
        }
    });


    //회사소개 슬라이드
    var swiper = new Swiper('.company_page', {
        loop: true,
        pagination: {
            type: 'fraction',
        },
        navigation: {
            nextEl: '.companyNextBtn',
            prevEl: '.companyPrevBtn',
        },

    });
</script>

{% endblock %}