@charset "utf-8";
 
/* 모바일용 CSS */
.subTitle{
 
}

/* 상단 영역 CSS */
.top_section{
  order:3;
  width:100%;
}

.tab_section{
  order:4;
  width:100%;
}

.intro_section p{
}

.equip_div > div{
  display:inline-block;
  padding-bottom: 1.25rem;
}

.equip_div img{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}


.equip_div p{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.equip_div span{
	font-weight: 300;
	line-height: 1.5;
}

/* 태블릿용 CSS */
@media all and (min-width:768px){

/* 상단 영역 CSS */
.top_section{
  /*height:400px;*/
}


/* 입력 영역 CSS */
.form_section{
}

.equip_div div{
  width:400px;
}

/* PC용 CSS */
@media all and (min-width:960px){

/* 상단 영역 CSS */
.top_section{
}


/* 입력 영역 CSS */
.form_section{
}
}