@charset "utf-8";
 
/* 모바일용 CSS */
.subTitle{
  padding-top: 50px;
  padding-bottom: 20px;
}

/* 상단 영역 CSS */
.top_section{
    order:3;
    width:100%;
}

    
/* 입력 영역 CSS */
.form_section{
    display:flex;
    order:4;
    width:100%;
    flex-direction: column;
}

.modal {
  /*display: none; /* Hidden by default */ 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;                   */
}


/* 태블릿용 CSS */
@media all and (min-width:768px){

/* 상단 영역 CSS */
.top_section{
  /*height:400px;*/
}


/* 입력 영역 CSS */
.form_section{
  align-items: center;
}


/* PC용 CSS */
@media all and (min-width:960px){

/* 상단 영역 CSS */
.top_section{
}


/* 입력 영역 CSS */
.form_section{
}
