@charset "utf-8";
 
/* 모바일용 CSS */
.subTitle{
 
}

/* 상단 영역 CSS */
.top_section{
    order:3;
    width:100%;
    height:300px;
}

    
/* 입력 영역 CSS */
.form_section{
    display:flex;
    order:4;
    width:100%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom: 5%;
    margin-top:20px;
    background: #f2f2f2;

}


/* 태블릿용 CSS */
@media all and (min-width:768px){

/* 상단 영역 CSS */
.top_section{
  /*height:400px;*/
}


/* 입력 영역 CSS */
.form_section{
}


/* PC용 CSS */
@media all and (min-width:960px){

/* 상단 영역 CSS */
.top_section{
}


/* 입력 영역 CSS */
.form_section{
}
}