@charset "utf-8";
 
/* 모바일용 CSS */
.subTitle{
  padding-top: 50px;
  padding-bottom: 20px;
}

/* 상단 영역 CSS */
.top_section{
    order:3;
    width:100%;
}

    
/* 입력 영역 CSS */
.form_section{
    display:flex;
    order:4;
    width:100%;
    flex-direction: column;
}


/* 태블릿용 CSS */
@media all and (min-width:768px){

/* 상단 영역 CSS */
.top_section{
  /*height:400px;*/
}


/* 입력 영역 CSS */
.form_section{
  align-items: center;
}


/* PC용 CSS */
@media all and (min-width:960px){

/* 상단 영역 CSS */
.top_section{
}


/* 입력 영역 CSS */
.form_section{
}
